<h1>All Articles</h1>

<% @articles.each do |article| %>
	<h2><%= link_to article.description, "#{article.link}" %></h2>
	<h4><%= link_to "Comments", article_comments_path(article.id) %></h4>
	<h4>Votes</h4>
	<p><%= button_to "Up Vote", article_up_vote_path(article, {vote: true} ) %></p>
	<p><%= button_to "Down Vote", article_down_vote_path(article, {vote: false} )%></p>
<% end %>

<%= link_to "Create an Article", new_article_path %>
