<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="alert alert-success"><%= flash[:notice] %></div>
<div class="alert alert-danger"><%= flash[:alert] %></div>
<%= yield %>

<h1>Hacker Newz</h1>

<nav>
	<ul>
		<% if user_signed_in? %>
			<li>Signed in as <%= current_user.email %></li>
			<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
		<% end %>
	</ul>
</nav>



</body>
</html>
